<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Controlador_Curso</servlet-name>
        <servlet-class>Controlador.Controlador_Curso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Admin</servlet-name>
        <servlet-class>Controlador.Controlador_Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Asign</servlet-name>
        <servlet-class>Controlador.Controlador_Asign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_CalifCurso</servlet-name>
        <servlet-class>Controlador.Controlador_CalifCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_CalifEstud</servlet-name>
        <servlet-class>Controlador.Controlador_CalifEstud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_CalifCurs</servlet-name>
        <servlet-class>Controlador.Controlador_CalifCurs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Estud</servlet-name>
        <servlet-class>Controlador.Controlador_Estud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Prof</servlet-name>
        <servlet-class>Controlador.Controlador_Prof</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Usuario</servlet-name>
        <servlet-class>Controlador.Controlador_Usuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador_Curso</servlet-name>
        <url-pattern>/Controlador_Curso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Admin</servlet-name>
        <url-pattern>/Controlador_Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Asign</servlet-name>
        <url-pattern>/Controlador_Asign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_CalifCurso</servlet-name>
        <url-pattern>/Controlador_CalifCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_CalifEstud</servlet-name>
        <url-pattern>/Controlador_CalifEstud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_CalifCurs</servlet-name>
        <url-pattern>/Controlador_CalifCurs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Estud</servlet-name>
        <url-pattern>/Controlador_Estud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Prof</servlet-name>
        <url-pattern>/Controlador_Prof</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Usuario</servlet-name>
        <url-pattern>/Controlador_Usuario</url-pattern>
    </servlet-mapping>        
</web-app>

