/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 11/07/2024, 2:42:07 p. m.
    Author     : USUARIO
*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    background-color: #F5FBEF;
}

header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
}

.logo img {
    height: 50px;
}

.navbar a {
    color: black;
    font-weight: 600;
    padding-right: 10px;
}

.nav-link.active {
    background-color: #84C318;
}

.navbar a:hover {
    color: #84C318;
}

.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-left: 50px;
}

.perfil i {
    color: #84C318;
    font-size: 30px;
}

.perfil a {
    color: #84C318;
    text-decoration: none;
    font-weight: bold;
}

.cuadro {
    justify-items: center;
    justify-content: center;
    padding-top: 50px;
}

.row {
    display: flex;
    justify-content: center;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.row h2 {
    text-align: center;
    padding-bottom: 3%;
}

.col-2 {
    padding-bottom: 2%;
}

.col-3 {
    padding-bottom: 2%;
}

.col-4 {
    padding-top: -10%;
    padding-bottom: 5%;
}

.col-12{
    padding-top: 3%;
}

.contenedor h1 {
    text-align: center;
}

.col-3 button {
    background-color: #503D42;
    color: #F5FBEF;
    font-weight: bolder;
    width: 200px;
    border-radius: 10px;
}

.col-3 button:hover {
    background-color: #F5FBEF;
    color: #503D42;
    border-color: #503D42;
}

.col-2 button {
    background-color: #92AD94;
    font-weight: bolder;
    width: 200px;
    border-radius: 10px;
}

.col-2 button:hover {
    background-color: #F5FBEF;
    color: #263627;
    border-color: #92AD94;
}

h1 {
    color: #503D42;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
}

h2 {
    font-weight: 400;
    font-family: "Oswald", sans-serif;
}

a{
    font-weight: 200;
    font-family: "Oswald", sans-serif;
}

.col-3 input:focus{
    border-color: #84C318;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px #84C318;
    outline: 0 none;
}

.col-3 select:focus{
    border-color: #84C318;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px #84C318;
    outline: 0 none;
}

.col-2 select:focus{
    border-color: #84C318;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px #84C318;
    outline: 0 none;
}

.col-1 select:focus{
    border-color: #84C318;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px #84C318;
    outline: 0 none;
}

.col-2 input:focus{
    border-color: #84C318;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px #84C318;
    outline: 0 none;
}

.col-4 input:focus{
    border-color: #84C318;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px #84C318;
    outline: 0 none;
}
